<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
<div class="menu-bar">
    <ul>
        <li><a wicket:id="toImports">Import</a></li>
        <li><a wicket:id="toTabs">Data by week</a></li>
        <li><a wicket:id="loadProductionOrdersFromSAP">Load Production orders from SAP</a></li>
        <li><a wicket:id="loadSalesOrdersFromSAP">Load Sales orders from SAP</a></li>
        <li><a wicket:id="machineTable">Machine table</a></li>
        <li><a wicket:id="timeLine">Timeline</a></li>
        <li><a wicket:id="newTimeLine">Timeline New</a></li>
        <li><a wicket:id="grid">Grid New</a></li>
    </ul>
</div>
</wicket:panel>